@{
    ViewData["Title"] = "Generated Random Passcode";
}

<div class="text-center">
    <h1 class="display-4">Random Generated Passcode</h1>
    <h1>@ViewBag.sb</h1>
    <button><a href="generate">Click to Generate a Password</a></button>
</div>