@{
    ViewData["Title"] = "Home Page";
}

@model string

<div class="text-center">
    <h1>@Context.Session.GetString("UserName")</h1>
    <h1>@Context.Session.GetString("MyNum")</h1>
</div>
