<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio II</title>
</head>
<body class=container>
    <header class=header>
        <nav class=nav>
            <a href="/">Home</a><span><p>  |  </p></span>
            <a href="/project">Projects</a><span><p>  |  </p></span>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <div class=title>About Me</div>
    <div class=aboutMeBody>
        <img src="" class=pic alt="personal pic">
        <p class=paragraph>Name: Adriana Pena Ventura. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
    </div>
</body>
</html>