<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio II</title>
</head>
<body class=container>
    <header class=header>
        <nav class=nav>
            <a href="/">Home</a><span><p>  |  </p></span>
            <a href="/project">Projects</a><span><p>  |  </p></span>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <div class=title>My Projects</div>
    <div class=projectColumn>
        <div class=projects>
            <img src="" alt="project 1">
            <div class=titleText>
                <h2>Project 1</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
            </div>
        </div>
        <div class=projects>
            <img src="" alt="project 2">
            <div class=titleText>
                <h2>Project 2</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
            </div>
        </div>
        <div class=projects>
            <img src="" alt="project 3">
            <div class=titleText>
                <h2>Project 3</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eos vitae ab. Atque commodi nemo quae vel. Sequi laudantium molestias pariatur nostrum iure, magnam, ipsam, perferendis sint perspiciatis sunt ut.</p>
            </div>
        </div>
    </div>
    
</body>
</html>