@{
    ViewData["Title"] = "Date Submitted";
}

@model Form;
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Submission</title>
</head>
<body>
    <div>
        <h1>Date Validator Results</h1>
        <h2>Date: @DateTime.Today</h2>
            <button type="submit">Submit</button>
    </div>
</body>