@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@{
    ViewData["Title"] = "Adding Dojo Users";
}
<form action="/user" method="post">
    @* action = find function that contains this route and do it when submit is hit *@
    <section>
        <label for="Name">Name</label>
        <input type="text" name="Name" id="">
    </section>
    <section>
        <label for="location">Dojo Location</label>
        <select name="Location">
            <option>Dallas, TX</option>
            <option>Brick, NJ</option>
            <option>Zapata, TX</option>
            <option>Austin,TX</option>
        </select>
    </section>
    <section>
        <label for="language">Favorite Language</label>
        <select name="Language">
            <option>C#</option>
            <option>Java</option>
            <option>Python</option>
            <option>SQL</option>
        </select>
    </section>
    <section>
        <label for="message">Comment (optional)</label>
        <textarea name="message" id="message" cols="25" rows="10">Add Comment Here!</textarea>      
    </section>
    <button type="submit">Submit</button>
</form>
