<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio II</title>
</head>
<body class=container>
    <header class=header>
        <nav class=nav>
            <a href="/">Home</a><span><p>  |  </p></span>
            <a href="/project">Projects</a><span><p>  |  </p></span>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <div class=title>Contact Me!</div>
    <div class=formSection>
    <form action="">
        <section>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </section>
        <section>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </section>
        <section>
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="25" rows="10">Add Message Here!</textarea>      
        </section>
    </form>
    </div>
    <button class="send">Send</button>
</body>
</html>