@{
    ViewData["TimeDisplay"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
</head>
<body>
    <header>Time Display</header>
    <div class=container>
        <h1> The current start time us is:</h1>
        <div class=box1>
            @{
                DateTime currentDate = DateTime.Now;
            }
            <div>
                <p>@currentDate.ToString("MM/dd/yyyy hh:mm tt")</p>
            </div>
        </div>
        <h1> The end time is:</h1>
        <div class=box2>
            @{
                DateTime futureDate = new DateTime(2023, 12, 25);
            }
            <div>
                <p>@futureDate</p>
            </div>
        </div>
        <h1> The time remaining until Dec 25 is:</h1>
        <div class=timeremaining>
            @{
                int timeLeft = (int)((futureDate - currentDate).Days);
                @* DateTime timeDiff = DateTime.Parse("25-Dec-2023 07:00");
                double subDouble = DateTime.Now.Ticks - timeDiff.Ticks; *@
                @* int value = DateTime.Compare(futureDate, currentDate); *@
            }
            <div>
                <p>@timeLeft days</p>
            </div>
        </div>
    </div>
</body>
</html>
